.grid {
	display: grid;
	grid-template-columns: 1rem 1fr 1fr 1fr;
	grid-gap: 0.75rem;
}

.grid div {
	padding: 0.125rem;
}

.muted {
	opacity: 0.5;
}

.flex {
	display: flex;
}

.flex div:first-child {
	margin-right: 0.5rem;
}

.color {
	display: flex;
	grid-column: 1 / span 2;
}

.badge {
	width: 1rem;
	height: 1rem;
	display: block;
	margin-right: 0.75rem;
	border-radius: 2px;
}

/* Show visual cue if value changes */
.value {
	animation-name: highlight;
	animation-duration: 1s;
}

@keyframes highlight {
	0% {
		background: rgba(185, 222, 253, 0);
	}
	100% {
		background: rgba(185, 222, 253, 0);
	}
}
